:root {
  --primary-text-color: #212121;
  --secomdary-text-color: #757575;
  --accent: #2196f3;
  --white: #fff;
  --secondary-background-color: #f5f4fa;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Навигация */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}

.logo span {
  color: var(--accent);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.navigation-list-link.studio {
  color: var(--accent);
}
/* Адресс навигации */
.address-header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secomdary-text-color);
}

.address-header-link:hover,
.address-header-link:focus {
  color: var(--accent);
}
